<div>
    <a class="btn btn-outline-primary" asp-controller="Phone" asp-action="ListPhone">Phones</a>
    <a class="btn btn-outline-primary" asp-controller="Phone" asp-action="AddPhone">Add Phone</a>
    <a class="btn btn-outline-primary" asp-controller="Phone" asp-action="AddBrand">Add Brand</a>
</div>